body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    background-color:black;
    gap:200px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 75px;
    color: greenyellow;
    margin-top: 20px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 1920px;
    height: 1920px;
    margin-top: 250px;
    margin-left: 450px;
    border: 50px solid gray;
    border-radius: 10px;
}

.squares{
    box-sizing: border-box;
    background-color: white;
    border: 1px solid;
}

#buttons{
    display: flex;
    flex-direction: column;
}

#color-picker{
    width: 400px;
    height: 150px;
    margin-top: 80px;
    
}

#resize-btn{
    width: 400px;
    height: 150px;
    margin-top: 80px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
    color: greenyellow;
    background-color: grey;
}

#rainbow-btn{
    width: 400px;
    height: 150px;
    margin-top: 80px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
    color: greenyellow;
    background-color: grey;

}

#eraser-btn{
    width: 400px;
    height: 150px;
    margin-top: 80px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
    color: greenyellow;
    background-color: grey;
}

#clear-btn{
    width: 400px;
    height: 150px;
    margin-top: 80px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
    color: greenyellow;
    background-color: grey;
}

#grid-btn{
    width: 400px;
    height: 150px;
    margin-top: 80px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
    color: greenyellow;
    background-color: grey;
}
